.header.wrapper
    .header-logo 
    .header-nav
    
.main.wrapper
    .featured
      h4.featured-eyebrow Astronomy Picture of the Day
      p.featured-paragraph Each day a different image or photograph of our fascinating universe is featured, along with a brief explanation written by a professional astronomer.
      apod-button( type="contained" size="md" ) Discover the cosmos
      
      //- h4.featured-eyebrow.overline Astronomy Picture of the DayAstronomy Picture of the Day
      //- h4.featured-title m15: Dense Globular Star Cluster 
      //- p.featured-paragraph Messier 15 is an immense swarm of over 100,000 stars. A 13 billion year old relic of the early formative years of our galaxy it's one of about 170 globular star clusters that still roam the halo of the Milky Way. Centered in this sharp telescopic view, M15 lies about 35,000 light years away toward the constellation Pegasus, well beyond the spiky foreground stars. Its diameter is about 200 light-years. But more than half its stars are packed into the central 10 light-years or so, one of the densest concentrations of stars known. Hubble-based measurements of the increasing velocities of M15's central stars are evidence that a massive black hole resides at the center of dense globular cluster M15.
      //- apod-button( type="contained" size="md" ) See an image
      
.footer.wrapper
