/**   Global styles go here   **/

// 1. Vendor
@import "vendor/normalize.css";

// 2. Variables
@import "variables/colors";

// 3. Mixins
@import "mixins/position";

// 4. General
@import "general/base";
