
//
//    COLORS
//
  whiteDarken = #fff;
  blackLighten = #333;

  backgroundLightColor = whiteDarken;
  backgroundDarkColor = blackLighten;
  textLightColor = whiteDarken;
  textDarkColor = blackLighten;

//
//    VARIABLES
//
  fontFaceTitles = Roboto, Sans-serif;
  fontFaceBody = Roboto, Sans-serif;
  fontFaceForTitles = auto;
  fontFaceForParagraphs = auto;
  fontSizeUnit = 0.0625rem; // More info - https://material.io/design/typography/the-type-system.html#type-scale
